/* MAIN STYLES FOR THE ENTIRE PAGE */

body {
	margin: 0;
	padding: 20px 40px;
	font-family: 'Encode Sans Condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* ANCHOR TAGS 'a' */
a {
	text-decoration: none;
	color: black;
}

/* SELECTOR THAT MATCHES EVERYTHING*/
* {
	box-sizing: border-box;
}
